# ===== Cheers App Variables =====
JWT_SECRET=your_secret_key_here
RP_ID=localhost
HOTPEPPER_API_KEY=your_hotpepper_api_key

# ===== Redmine Variables =====
REDMINE_DB_PASSWORD=your_redmine_db_password
REDMINE_SECRET_KEY_BASE=your_redmine_secret_key_base
